<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basketball Team</h1>
    <form action="/team" method="post">
        <div>
            <label for="name">Team Name:</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="name">Coach:</label>
            <input type="text" name="coach" id="coach" required>
        </div>
        <div>
            <label for="name">Point Guard:</label>
            <input type="text" name="pg" id="pg" required>
        </div>
        <div>
            <label for="name">Shooting Guard:</label>
            <input type="text" name="sg" id="sg" required>
        </div>
        <div>
            <label for="name">Power Forward:</label>
            <input type="text" name="pf" id="pf" required>
        </div>  
        <div>
            <label for="name">Small Forward:</label>
            <input type="text" name="sf" id="sf" required>
        </div>       
        <div>
            <label for="name">Center:</label>
            <input type="text" name="c" id="c" required>
        </div>
        <input type="submit" id="Submit" value="submit">                                   
    </form>
 </body>
</html>